:root {
  --navbar-height: 60px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  background: rgba(5, 76, 123, 0.445);
  font-family: "Righteous", cursive;
  transition: all 0.3s ease;
  height: var(--navbar-height);
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  height: 100%;
  background: #030507f3;
  backdrop-filter: blur(10px);
}

.logo {
  font-size: 18px;
  color: #8c9c9b;
  cursor: pointer;
  transition: color 0.3s ease;

  display: flex;
  gap: 10px;
  align-items: center;
}

.logo:hover {
  color: #fff;
}

.navbar.dark-theme .nav-link,
.navbar.dark-theme .logo {
  color: #8c9c9b;
}

.navbar.dark-theme .nav-link:hover {
  color: #e2e2e2;
  background: rgba(255, 255, 255, 0.1);
}

.logo-image {
  height: 30px;
}

@media (max-width: 768px) {
  .navbar-content {
    padding: 10px 16px;
  }

  .menu-toggle {
    display: flex;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 16px;
  }
}
