.dialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.dialog-box {
  background: #a3a3a3;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  max-width: 90%;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.dialog-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:first-child {
  border-radius: 5px;
  background: #0000006e;
  color: white;
}

button:last-child {
  border-radius: 5px;
  background: #0000006e;
  color: white;
}
